header{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    gap: 220px;
}


.post{
   margin-left: 1000px;
}



.cars{
    margin-left: 170px;
}


table{
    width: 980px;
    /* color: white; */

}
